html {
  margin: 0;
}

body {
  margin: 0;
}

body > div.my-MuiDialog-root.my-MuiModal-root.css-zw3mfo-MuiModal-root-MuiDialog-root > div.my-MuiDialog-container.my-MuiDialog-scrollPaper.css-hz1bth-MuiDialog-container > div > div:nth-child(3) > div > div.react-flow__panel.react-flow__attribution.bottom.right > a {
  display: none;
}

.react-flow__node {
  white-space: pre-line;
}
